[Unit]
Description=Pneuma-Agent

[Service]
ExecStart=/opt/pneuma/pneuma-agent -address "192.168.33.10:2323" -contact "tcp" -name "pneuma-centos7" -range "thremulation"
Restart=on-failure
StartLimitInterval=600
RestartSec=15
StartLimitBurst=16

[Install]
WantedBy=multi-user.target
